html {
	background-color: #dbd6cf;
}
h1, h2, h3 {
	font-family: 'Bevan', cursive;
	color: #79756f;
	line-height: 1.5
}

body {
	font-family: 'Arial', sans-serif;
	margin: 0 auto;
	max-width: 45rem;
}

ol {
	list-style-type: none;
	padding: 0;
}

.planets {
	list-style-type: lower-roman;
}

a {
	color: #713837;
}

a:hover {
	color: #ff3333;
}

figcaption {
	font-style: italic;
	font-size: 0.75rem;
}
.quote {
	padding-left: 2rem;
	font-family: Georgia;
	font-style: italic;
	font-size: 1.5rem
 }

.neil {
	font-size: 0.75rem;
	font-style: italic;
	color: #79756f;
	text-align: right;
}

dt {
	font-weight: bold;
	line-height: 1.5
}

.links {
	list-style-position: circle;
}

span {
	font-size: 2.5rem;
	font-weight: bold;
	color: #79756f;
	line-height: 0.80
}
